{% extends "thru/thru_detail.html" %}
{% block main_area %}
<div class = "container">
    <div class="row">
        {% for l in lotte %}
            <div class="card col-6">
                <div class="card-body">
                    <h2>매장 정보</h2>
                    <p>매장명: {{ l.name }}</p>
                    <p>위치: {{ l.addr1 }}</p>
                    <p>전화번호: {{ l.phone }} 별점: {{ l.star }}</p>
                    <button class="btn btn-primary btn-detail" data-lat="{{ l.addrx }}" data-lng="{{ l.addry }}"
                            data-name="{{ l.name }}" data-addr1="{{ l.addr1 }}" data-phone="{{ l.phone }}">상세보기</button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}