{% extends "thru/thru_detail.html" %}
{% block main_area %}
<div class = "container">
    <div class="row">
        {% for i in pascucci %}
            <div class="card col-6">
                <div class="card-body">
                    <h2>매장 정보</h2>
                    <p>매장명: {{ i.name }}</p>
                    <p>위치: {{ i.addr1 }}</p>
                    <p>전화번호: {{ i.phone }} 별점: {{ i.star }}</p>
                    <button class="btn btn-primary btn-detail" data-lat="{{ i.addrx }}" data-lng="{{ i.addry }}"
                            data-name="{{ i.name }}" data-addr1="{{ i.addr1 }}" data-phone="{{ i.phone }}">상세보기</button>
                </div>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
