{% extends "thru/thru_detail.html" %}
{% load static %}
{% block main_area %}

<style>
    .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal.show {
  display: block;
}
.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  height: 700px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}
  .navbar {
    margin-bottom: 30px;
    background-color: gray;
    color: white;
  }


        .section input[id="slide"] {
        display:none;
    }
    .section .slidewrap {
        max-width:1200px;
        margin:0 auto;
        overflow:hidden;
    }
    .section .slidelist {
        white-space:nowrap;
        font-size:0;
    }
    .section .slidelist > li {
        display:inline-block;
        vertical-align:middle;
        width: 100%;
        transition:all .5s;
    }
    .section .slidelist > li > a {
        display:block;
        position:relative;
    }
    .section .slidelist > li > a img {
        width:100%;
    }
    .section .slidelist label{
        position:absolute;
        z-index:10;
        top:50%
        transform:translateY(-50%);
        padding:50px;
        cursor:pointer;
    }
    .section .slidelist .left {
        left:30px;
        background-image:url('../img/left.png') center center / 100% no-repeat;
    }
    .section .slidelist .right {
        right:30px;
        background-image:url('../img/right.png') center center
    }

    .section [id="slide01"]:checked ~.slidewrap .slidelist > li{transform:translateX(0%);}
    .section [id="slide02"]:checked ~.slidewrap .slidelist > li{transform:translateX(-100%);}
    .section [id="slide03"]:checked ~.slidewrap .slidelist > li{transform:translateX(-200%);}
</style>
<div class = "container">
<div class="row">



    <div class="modal">
        <div class="modal_body">

        <div class="section">
            <input type="radio" name="slide" id="slide01" checked>
            <input type="radio" name="slide" id="slide02">
            <input type="radio" name="slide" id="slide03">
            <div class="slidewrap">
                <ul class="slidelist">
                    <li>
                        <a>
                            <label for="slide03" class="left"></label>
                            <img src="{% static 'img/star_menu1.png' %}" style="width:500px; height:600px"/>
                            <label for="slide02" class="right"></label>
                        </a>
                    </li>
                    <li>
                        <a>
                            <label for="slide01" class="left"></label>
                            <img src="{% static 'img/star_menu2.png' %}" style="width:500px; height:600px"/>
                            <label for="slide03" class="right"></label>
                        </a>
                    </li>
                    <li>
                        <a>
                            <label for="slide02" class="left"></label>
                            <img src="{% static 'img/star_menu3.png' %}" style="width:500px; height:600px"/>
                            <label for="slide01" class="right"></label>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        </div>
    </div>
    {% for s in starbucks %}
        <div class="card col-6">
            <div class="card-body">
                <h2>매장 정보</h2>
                <p>매장명: {{ s.name }}</p>
                <p>위치: {{ s.addr1 }}</p>
                <p>전화번호: {{ s.phone }} 별점: {{ s.star }}</p>
                <button class="btn btn-primary btn-detail"
                        data-lat="{{ s.addrx }}" data-lng="{{ s.addry }}"
                        data-name="{{ s.name }}" data-addr1="{{ s.addr1 }}" data-phone="{{ s.phone }}">위치보기</button>
                <button class="btn-open-popup">메뉴판 보기</button>
            </div>
        </div>
    {% endfor %}
</div>
<ul>
{% for data in page_obj %}
    <li>{{ data }}</li>
{% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if starbucks.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ starbucks.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current-page">
            Page {{ starbucks.number }} of {{ starbucks.paginator.num_pages }}.
        </span>
        {% if starbucks.has_next %}
            <a href="?page={{ starbucks.next_page_number }}">next</a>
            <a href="?page={{ starbucks.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

<script type="text/javascript" src="/static/js/modal.js"></script>

{% endblock %}

<script>
        const modal = document.querySelector('.modal');
         const btnOpenPopup = document.querySelector('.btn-open-popup');
         btnOpenPopup.addEventListener('click', () => {
             modal.style.display = 'block';
     });
     modal.addEventListener("click", e => {
    const evTarget = e.target
    if(evTarget.classList.contains("modal")) {
        modal.style.display = "none"
    }
});
</script>