{% extends "thru/thru_detail.html" %}
{% block main_area %}
<div class = "container">
    <div class="row">
        {% for t in twosome %}
            <div class="card col-6">
                <div class="card-body">
                    <h5 class="card-title">매장명 : {{ t.name }}</h5>
                    <p class="card-text">위치 : {{ t.addr1 }}</p>
                    <p class="card-text">전화번호 : {{ t.phone }}</p>
                    <p class="card-text">별점 : {{ t.star }}</p>
                    <a href="#" class="btn btn-primary">상세보기</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}